@font-face{
    font-family: DejaVuSans-Bold;
    src: url('../../Fonts/DejaVuSans-Bold.ttf'),
    /* url('Thonburi-Bold.eot'); IE */
}

.navbar {
    width: 100vw;
    background: #303f4b;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    border-top: rgb(22, 22, 22) solid 1.5px;
    border-bottom: rgb(22,22,22) solid 1.5px;
}
.nav-menu .nav-item .active{
    color: red;
}
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1500px;
    /* border: red solid 1px; */
}

.navbar .nav-container .nav-logo{
    display: flex;
    height: 100%;
    position: relative;
    transition: all .2s ease-in-out;
    opacity: 0;
    /* border: red solid 1px; */
    align-items: center;
    cursor: pointer;
}
.navbar .nav-container .hidden{
opacity: 1;
}
.navbar .nav-container .nav-logo img {
    height:60%;
    position: absolute;
    left: -13em;
    transition: all .1s ease-in-out;
}
.nav-menu {
    height: 100%;
    display: flex;
    list-style: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    /* margin-right: 2rem; */
    /* border: yellow solid 1px; */
    /* justify-content: center; */
}
/* .nav-menu .nav-item{
    height: 100%;
} */

.nav-links {
    font-family: "DejaVuSans-Bold", ;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    border-bottom: 2px solid  transparent;
    font-size: 1rem;
}
.nav-links button{
    background-color: rgb(253, 94, 94);
    width: 100px;
    height: 100%;
    border: black solid 1px;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    font-weight: 600;
    margin-left: 40px;
    cursor: pointer;
    transition: all ease-in-out .1s;
    outline: none;
}
.nav-links button:hover{
    background-color: rgb(255, 130, 130);
    transition: all ease-in-out .1s;
}
.main{
    font-family: "", ;
    font-weight: lighter;
    
    /* src: url('../../Fonts/Chartarapet-Regular.otf'); */
    display: flex;
    height: 100%;
    /* padding-top: 100px; */
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    border-bottom: 2px solid  transparent;
    font-size: 1rem;
}
.erithay{
    font-weight: 600;
    /* color: rgb(247, 100, 100); */
    text-decoration: none;
}
.login {
    background-color: rgb(248, 94, 94);
    border-radius: 3px;
}

.nav-item {
    /* margin-top: 30px; */
    line-height: 40px;
    /* margin-right: 1rem; */

}

.nav-item span:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width 0.3s ease, background-color 0.1s ease;
}

.nav-item span:hover:after {
    width: 100%;
    background: rgb(197, 30, 1);
    
}

/* .nav-item .active {
    color: rgb(158, 158, 158);
} */
.fas .fa-times{
    color: white;
}

.nav-icon {
    
    display: none;
}
.nav-icon img{
    border: red solid 2px;
}
@media screen and (max-width: 1023px) {
   
    .navbar{
        width: 100vw;
        position: sticky;
        top: 0;
    }
    
    .navbar .nav-container .nav-logo{
        opacity: 0;
        align-items: center;
        /* border: red solid 1px; */
        position: unset;
        justify-content: center;
        display: flex;
        transition: all .1s ease-in-out;
    }
    .nav-links {
        height: 40px;
    }
    .navbar .nav-container .hidden{
        opacity: 1;
    }
    .navbar .nav-container .nav-logo img{
        height: 60%;
         position: unset;
         transition: all .1s ease-in-out;
         
    }
    a .nav-item .nav-links span{
        font-weight: bold;
        color: white;
    }
    .nav-item:hover:after {
        width: 100%;
        background: none;
        color: gray;
    }
    .nav-item a:hover:after {
        color: gray;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: #fff solid 1px;
        position: absolute;
        top: 48px;
        left: -110%;
        opacity: 1;
        z-index: 999;
        /* transition: all 0.4s ease; */
        /* transition: opacity 0.2s; */
    }
    .nav-menu.active {
        height: 100vh;
        background:#25303a;
        left: 0px;
        opacity: 1;
        transition: all 0.1s ease-in-out;
        z-index: 999;
        align-items: left;
        padding-left: 40px;
    }
    .nav-icon {
        height: 100%;
        /* border: red solid 1px; */
        display: flex;
        font-size: 2rem;
        position: absolute;
        top: 0;
        right: 20px;
        justify-content: center;
        align-items: center;
    }
    .nav-item {
        margin-top: 30px;
        line-height: 40px;
        margin-right: 1rem;
        align-items: center;
        justify-content: center;
    
    }
    .nav-menu .nav-item{
    height:10%;
}

    .nav-item.active{
        height: 40px;
    }
    .nav-item.active .nav-links.button {
        display: flex;
        justify-content: center;
        margin-top: 70px;
    }
    .nav-item.active .nav-links.button .login-button{
        margin: 0;
        
    }
    .nav-item.active .nav-links.button button{
        width: 180px;
    }
}



