.navbar {
    width: 100vw;
    background: #7E9EB5;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    border-top: rgb(22, 22, 22) solid 1.5px;
    border-bottom: rgb(22,22,22) solid 1.5px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    max-width: 1500px;
    /* border: red solid 1px; */
}

.navbar .nav-container .nav-logo{
    display: flex;
    height: 100%;
    position: relative;
    transition: all .2s ease-in-out;
    opacity: 0;
    /* border: red solid 1px; */
    align-items: center;
}
.navbar .nav-container .hidden{
opacity: 1;
}
.navbar .nav-container .nav-logo img {
    height: 80%;
    position: absolute;
    left: -13em;
    transition: all .2s ease-in-out;
}
.nav-menu {
    height: 70%;
    display: flex;
    list-style: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    /* margin-right: 2rem; */
    /* border: yellow solid 1px; */
    /* justify-content: center; */
}

.nav-links {
    display: flex;
    height: 100%;
    /* padding-top: 100px; */
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    border-bottom: 2px solid  transparent;
    /* border: blue solid 1px; */
}

.nav-item {
    /* margin-top: 30px; */
    line-height: 40px;
    /* margin-right: 1rem; */

}

.nav-item:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width 0.1s ease, background-color 0.1s ease;
}

.nav-item:hover:after {
    width: 100%;
    background: rgb(197, 30, 1);
    
}

.nav-item .active {
    color: teal;
}
.fas .fa-times{
    color: white;
}

.nav-icon {
    
    display: none;
}
.nav-icon img{
    border: red solid 2px;
}
@media screen and (max-width: 1023px) {
    .navbar{
        width: 100vw;
    }
    .navbar .nav-container .nav-logo{
        opacity: 0;
        align-items: center;
        /* border: red solid 1px; */
        position: unset;
        justify-content: center;
        display: flex;
        transition: all .2s ease-in-out;
    }
    .navbar .nav-container .hidden{
        opacity: 1;
    }
    .navbar .nav-container .nav-logo img{
        height: 80%;
         position: unset;
         transition: all .2s ease-in-out;
    }
    .nav-item:hover:after {
        width: 100%;
        background: none;
        color: gray;
    }
    .nav-item a:hover:after {
        color: gray;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        border-top: #fff solid 1px;
        position: absolute;
        top: 58px;
        left: -110%;
        opacity: 1;
        z-index: 999;
        /* transition: all 0.4s ease; */
    }
    .nav-menu.active {
        background:rgb(68, 70, 90);
        left: 0px;
        opacity: 1;
        transition: all 0.2s ease-in-out;
        z-index: 999;
        align-items: center;
    }
    .nav-icon {
        height: 100%;
        /* border: red solid 1px; */
        display: flex;
        font-size: 2rem;
        position: absolute;
        top: 0;
        right: 20px;
        justify-content: center;
        align-items: center;
    }
    .nav-item {
        margin-top: 30px;
        line-height: 40px;
        margin-right: 1rem;
        align-items: center;
        justify-content: center;
    
    }
}



